<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="Jesho Carmel">
        <title>IP address location tracker</title>

        {{template "bootstrap_links"}}

        <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
            font-size: 3.5rem;
            }
        }
        </style>
        <!-- Custom styles for this template -->
        <link href="/static/css/floating-labels.css" rel="stylesheet">
    </head>
    <body>
        <form class="form-signin" method="POST" action="/getlocation">
            <div class="text-center mb-4">
                <img class="mb-4" src="/static/assets/symbol.svg" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">IP Location Tracker</h1>
                <p>Find location of any IP address<br/><code><a href="https://caniuse.com/#feat=css-placeholder-shown">Click here to find your location.</a></code></p>
            </div>

            <div class="form-label-group">
                <input type="text" id="ipaddress" name="ipaddress" class="form-control" placeholder="e.g. 192.168.0.1" required autofocus>
                <label for="ipaddress">Enter IP address</label>
            </div>
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Locate</button>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2020-2021</p>
        </form>
   </body>
</html>
